p[lang |="pt"]{
  color: green;
}

div[class ~= "ativo"]{
  color: lightblue;
}

input [required]{
  border: 2px solid red;
}

input [type~=password"]{
  background-color: lightgray;
}

a [href^="https"]{
  color: green;
}

a [href$=".pdf"]{
  color: pink;
}

a [value="exemplo"]{
  font-weight: bold;
}
